
    <div>
      <%= search_form_for @keyword, url: search_customers_path do |f| %>
        <%= f.search_field :name_or_name_kana_or_tell1_or_memo_or_appearance_cont_all, required: true, placeholder: "お客様検索", class: "search-input" %>
        
        <%= f.label :sex_id_eq, '　性別' %>
        <%= f.collection_select :sex_id_eq, @sex, :id, :name, :include_blank => '指定なし' %>
        <button type="submit", class="btn btn-primary btn-sm">検索</button>
      <% end %>
    </div>
